.SongDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: Arial, Helvetica, sans-serif;
}

.SongDetailsBox {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SongDetailsBox h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.SongDetailsBox p {
  margin: 5px 0;
}

.showNavigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.showNavigation button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.showNavigation button:hover {
  background-color: #e0e0e0;
}
